html {
  display: block; }

body {
  margin: 0 auto; }

header h1 {
  /*background: url("../img/logorandev.jpg") center/contain no-repeat; */
  text-indent: -9999em;
  height: 170px;
  margin: 1em auto; }

section {
  text-align: center; }

.videoSection {
  margin: auto;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 75em;
  position: relative;
  z-index: 2;
  overflow: hidden;
  /* &:before {
        content: '';
        padding-top: 56.25%;
        display: block;
        }*/ }
  @media screen and (min-width: 800px) {
    .videoSection {
      width: 90%; } }
  .videoSection .corners, .videoSection .corners span {
    content: '';
    width: 8%;
    height: 10%;
    position: absolute; }
    .videoSection .corners:after, .videoSection .corners span:after {
      top: -5%;
      background: #fff; }
    .videoSection .corners:before, .videoSection .corners span:before {
      top: -5%;
      background: black;
      left: -4%;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }

*, :after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

video {
  margin: 0 auto;
  width: 100% !important;
  height: auto !important;
  display: inline-block;
  object-fit: contain; }

.section {
  text-align: center;
  display: block; }

.section.featured {
  color: #fff;
  background: #6fcde3;
  position: relative;
  overflow: hidden; }

.section.foodMenu {
  padding: 11% 0 18%;
  margin: -10% 0; }
