
<!DOCTYPE html>
<html ng-app="serviceApp">
<head>
<meta charset="utf-8" />
<title></title>
   
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="imagelightbox.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/lightbox2/dist/css/lightbox.min.css">

   
</head>


<body ng-controller="serviceCtrl">
<div class="overlay">
    <header role="banner">
       <h1 id="logo">рандеву </h1>
        
    </header>
    
    <div class="mainContent" role="main">
       <section class="videoSection">
           
            <div class="videContent">
                <video autoplay="autoplay" width="1920" height="1080">
                    <source src="video/culinaria.mp4">
                </video>
                <span class="corners">
                   <span>
                    
                    </span>
                </span>
            </div>
            
       </section>
       <section class="foodMenu section featured">
         <div class="content">
                <h2>
                   <span class="food-heading-span-1">The</span>
                   <span class="food-heading-span-2">Food</span>
               </h2>
               <div class="description">
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium ipsa neque laudantium maiores, eligendi impedit dolores officiis necessitatibus maxime tempore quaerat odit debitis! Architecto fuga in odio, provident saepe accusantium reprehenderit assumenda deserunt, maxime necessitatibus sed, sunt sint. Architecto, obcaecati non. Quibusdam nam aut, ipsam. Quisquam quam, nihil iste minima, illum, dicta, velit magnam cumque quibusdam quaerat itaque totam quae iusto voluptate eius debitis eveniet ducimus eligendi perferendis deleniti et. Architecto itaque atque porro, asperiores, harum tenetur minus accusamus?</p>
               </div>
               <div class="buttons"><a href="#" class="button" id="open">Menu</a></div>
            </div>
               
       </section>
       <section class="events section alt">
          <div class="content eventscontent">
              <header>
                  <h2>All Event
                      <span>Big or small</span>
                  </h2>
              </header>
             <div class="restFloors">
                   <div class="floor1">
                     <p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error cupiditate officiis non, eveniet doloribus in? Beatae voluptatum iure na.</p>
                     <div class="buttonsEvents">
                        <a href="img/0f7dc2ad5aa956f41e49699a5c6540f7.png" class="button" data-lightbox='floor1'>Floor1</a>
                        <a href="img/31d102d1079bf5d2830a2ae9ea7fb015.png" data-lightbox='floor1'></a>
                        <a href="img/dishes-californiasunset-014.png" data-lightbox='floor1'></a>
                     </div>
                  </div>
                  <div class="floor2">
                  
                    <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos recusandae voluptatum dolore mollitia enim, dolor odio vitae dolore.</p>
                      <div class="buttonsEvents">
                         <a href="img/0f7dc2ad5aa956f41e49699a5c6540f7.png" class="button" data-lightbox='floor'>Floor2</a>
                          <a href="img/31d102d1079bf5d2830a2ae9ea7fb015.png" data-lightbox='floor'></a>
                          <a href="img/dishes-californiasunset-014.png" data-lightbox='floor'></a>
                     </div>
                  </div>
              </div>
              
          </div>
         
       </section>
       <section class="tabView section">
          <div class="content">
            <div class="currentContent">
            <!--    <ng-include src="url"></ng-include>-->
               <div class="barService tabViews">
                   <img src="img/31d102d1079bf5d2830a2ae9ea7fb015.png" alt="couldn't download picture">
                    <h2>Bar service</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, soluta, obcaecati. Suscipit reiciendis eaque facere culpa, eveniet sunt, fugiat quis quidem dignissimos temporibus voluptates officia optio, ipsum distinctio animi quaerat veniam itaque iste maiores doloribus. Earum aliquam, at dignissimos nam numquam aut, aperiam cumque suscipit beatae! Aliquid ullam architecto repellat iure eaque </p>
               </div>
               <div class="sushiRolls tabViews">
                   <img src="img/dishes-californiasunset-014.png" alt="">
                    <h2>Sushi rolls</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus praesentium ipsa voluptatibus excepturi, modi fugit error voluptates, voluptas atque nobis perspiciatis! Accusamus enim soluta debitis, nisi at obcaecati magnam perspiciatis! Unde maiores eveniet dicta! Fuga blanditiis maxime repellendus! Dolore unde incidunt dicta corrupti rem nam officiis maiores modi, aliquam eligendi eveniet, mollitia architecto praes!</p>
                               </div>
               </div>
            <div class="buttons tab-list">
              <a href="" class="button" id="changeToBar" >Bar service</a>
              <a href="" class="button" id="changeToRolls">Rolls</a>
            </div>
            
           
          </div>
           
       </section>
         
       <section class="contact section">
          <div class="content">
                <header>
                   <h2>Say hello.   </h2>
                       <span>we'd love to hear from you</span>
                 
               </header>
               
            <form name="contactForm" action="" class="form-horizontal"  method="post" ng-submit=submit(contactForm)>
               
                <div class="form-group">
                  
                   <div class="col-md-6" show-errors> 
                       <label for="inputName" class="control-label">Name</label>
                       <input name="inputName" type="text" class="form-control input-lg" id="name" required ng-model="user.name"> 
                        <p class="help-block" ng-if="contactForm.inputName.$error.required">The name is required</p>
                    </div>
                
                    
                   <div class="col-md-6" show-errors>
                        <label for="inputLast" class=" control-label">Last Name</label>
                        <input name="inputLastName" type="text" class="form-control input-lg" id="inputLast" required ng-model="user.lastName">
                        <p class="help-block" ng-if="contactForm.inputLastName.$error.required">The lastname is required</p>
                    </div>
                                
   
                    <div class="col-md-12 " show-errors>
                        <label for="email" class="control-label">Your email</label>
                        <input type="email" class="form-control input-lg" id="email" required ng-model="user.email" name="inputEmail">
                        <p class="help-block" ng-if="contactForm.inputEmail.$error.required">The email is required</p>
                    </div>
                    
                    <div class="col-md-12 ">
                        <label for="subject" class="control-label">Subject</label>
                        <input type="text" name="inputSubject" class="form-control input-lg" id="subject" ng-model="contactForm.subject">
                    </div> 
                    
                    <div class="col-md-12 " show-errors>
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control input-lg" id="message" required ng-model="user.message" name="inputMessage"></textarea>
                        <p class="help-block" ng-if="contactForm.inputMessage.$error.required">The message is required</p>
                    </div>
                </div>  
                <!--<p ng-class="result">{{resultMessage}}</p>   --> 
                <div>
                    <button class="button submitButton">Contact us</button>
                </div>
            </form>
           </div>
       </section>
    </div>
    <footer>
        <div class="content" itemscope itemtype="http://schema.org/Organization">
            <p itemprop="name">Here goes brief description of organization</p>
            <ul class="contacts">
                <li itemprop="telephone">000 00 00 000</li>
                <li itemprop="email">exampla@example.exm</li>
            </ul>
        </div>
    
    </footer>
    
      
</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
       
       <div id="modalWindow">
       <div class='closeButton'>X</div>
        <div class="modalContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>   
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque.</p>
           </div>
       </div>
   

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
 <script src="../node_modules/lightbox2/dist/js/lightbox.min.js"></script>
 <script src="scripts/app.js"></script>
 <script src="scripts/modal.js"></script>
 <script src="scripts/styleJquery.js"></script>
</body>
</html>